*/bin
*/objs
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/Prueba.AssemblyInfo.cs
obj/Debug/net8.0/Prueba.AssemblyInfoInputs.cache
obj/Debug/net8.0/Prueba.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Prueba.GlobalUsings.g.cs
